.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
 
body {
    font-family: "Open Sans", sans-serif;
}
.menu {
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.logo {
    color: blueviolet;
    font-size: 14px;
    font-family: "Momo Trust Display", sans-serif;
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.menu-item li{
    list-style: none;
}

.main {
    display: flex;
    align-items: center;
    padding: 100px 40px;
}
.intro {
    width: 60%;
}
.greeting {
    font-size: 16px;
    font-weight: 300;
}
.role {
    font-size: 62px;
    font-weight: 800;
    line-height: 0px;
    font-family: "Momo Trust Display", sans-serif;
}
span {
    color: blueviolet;
}
p {
    font-size: 14px;
    font-weight: 100;
}
.buttons {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
}
.touch {
    background-color: #1a1a1a;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    box-shadow: 0px 1px 10px 0px #1a1a1a;
}
.browse{
    background-color: #d1d1d1;
    font-size: 12px;
    box-shadow: 0px 3px 10px 0px #1a1a1a;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
}
.image {
    width: 40%;
    display: flex;
    justify-content: center;
}
.circle {
    height: 300px;
    width: 300px;
    border: 1px solid blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headshot {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}
